@model TitanTracker.Models.Ticket

@using Microsoft.AspNetCore.Identity
@using TitanTracker.Services.Interfaces
@using TitanTracker.Extensions

@inject UserManager<BTUser> UserManager

@inject TitanTracker.Services.Interfaces.IBTCompanyInfoService companyInfoService
@inject TitanTracker.Services.Interfaces.IBTFileService  fileService
@inject TitanTracker.Services.Interfaces.IBTNotificationService notificationService
@inject TitanTracker.Services.Interfaces.IBTProjectService projectService
@inject TitanTracker.Services.Interfaces.IBTRolesService rolesService
@inject TitanTracker.Services.Interfaces.IBTTicketHistoryService ticketHistoryService
@inject TitanTracker.Services.Interfaces.IBTTicketService ticketService

@{
    ViewData["Title"] = "Details";
    int projectId = Model.Project.Id;
    int companyId = User.Identity.GetCompanyId().Value;
}

BEGIN GLOBAL MANDATORY STYLES
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
END GLOBAL MANDATORY STYLES
    BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES
<link href="~/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/assets/css/widgets/modules-widgets.css">
END PAGE LEVEL PLUGINS/CUSTOM STYLES

<div class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-five">

                <div class="widget-heading">

                    <a href="javascript:void(0)" class="task-info">

                        <div class="w-title">

                            <h1>@Model.Title</h1>
                            <p class="text-align-left">Created By: @Model.OwnerUser.FullName</p>
                        </div>
                    </a>

                    <div class="task-action">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="pendingTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right rounded bs-tooltip" title="More Options" aria-labelledby="pendingTask" style="will-change: transform;">
                                <a class="dropdown-item" href="javascript:void(0);">View Project</a>
                                <a class="dropdown-item" href="javascript:void(0);">Edit Project</a>
                                <a class="dropdown-item" href="javascript:void(0);">Mark as Done</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-content">

                    <p> <strong>Description:</strong> @Model.Description</p>
                    <p><strong>Created:</strong> @Model.Created.DateTime</p>

                    <div class="progress-data">

                        <div class="progress-info">
                            <div class="task-count"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg><p>5 Tasks</p></div>
                            <div class="progress-stats"><p>86.2%</p></div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <hr />
                    <p>Members on this Project</p>
                    <div class="meta-info">

                        @foreach (BTUser member in await projectService.GetAllProjectMembersExceptPMAsync(projectId))

                        {

                            <div class="avatar--group">

                                @*<div class="avatar translateY-axis more-group">
                                        <span class="avatar-title">Members on this Project</span>
                                    </div>*@
                                <div class="avatar translateY-axis rounded bs-tooltip" title="@member.FullName">
                                    <img alt="avatar" src="~/assets/img/90x90.jpg" />
                                </div>
                            </div>
                        }
                        <hr />
                        <div class="due-time">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> 3 Days Left</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row widget-statistic">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
                    <div class="widget widget-one_hybrid widget-followers">
                        <div class="widget-heading">
                            <div class="w-title">
                                <div class="w-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                </div>
                                <div class="">
                                    <p class="w-value">53</p>
                                    <h5 class="">Ticket Updates</h5>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="w-chart">
                                <div id="hybrid_followers"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
                    <div class="widget widget-one_hybrid widget-referral">
                        <div class="widget-heading">
                            <div class="w-title">
                                <div class="w-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
                                </div>
                                <div class="">
                                    <p class="w-value">7</p>
                                    <h5 class="">Project Updates</h5>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="w-chart">
                                <div id="hybrid_followers1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 layout-spacing">
                    <div class="widget widget-one_hybrid widget-engagement">
                        <div class="widget-heading">
                            <div class="w-title">
                                <div class="w-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                                </div>
                                <div class="">
                                    <p class="w-value">18.2%</p>
                                    <h5 class="">Comments</h5>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="w-chart">
                                <div id="hybrid_followers3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
            <div class="widget widget-three">
                <div @*class="widget-heading"*@>
                    <h5 class="text-center">Add A Comment</h5>

                    <div class="task-action">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="pendingTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pendingTask" style="will-change: transform;">
                                <a class="dropdown-item" href="javascript:void(0);">View Report</a>
                                <a class="dropdown-item" href="javascript:void(0);">Edit Report</a>
                                <a class="dropdown-item" href="javascript:void(0);">Mark as Done</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-content">

                    <div class="order-summary">

                        <div class="summary-list summary-expenses">

                            <div class="summery-info">
                                <form asp-action="Create" asp-controller="TicketComments" method="post">
                                    <input hidden name="TicketId" id="TicketId" value="@Model.Id" />

                                    <textarea class="form-control noresize" name="Comment" placeholder="*type Comment here" cols="25" rows="10" aria-label="With textarea"></textarea>
                                    <hr />
                                    <div class="form-group mb-4">

                                        <button class="btn btn-dark" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-card-two">
                <div class="widget-content">

                    <div class="media">
                        @*<div class="w-img">
                                <img src="assets/img/90x90.jpg" alt="avatar">
                            </div>*@
                        <div class="media-body">
                            <h6 class="text-center">Attachments</h6>
                            <p class="meta-date-time"></p>
                            <hr />
                            <div class="custom-file-container text-center" data-upload-id="myFirstImage">
                                <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="@Model.Id" name="TicketId">
                                    <label class="text-center">
                                        Description
                                        <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                                    </label><br />
                                    <label>Upload (Single File) <a href="javascript:void(0)" class="custom-file-container__image-clear text-center" title="Clear Image"></a></label>
                                    <label class="custom-file-container__custom-file text-center">
                                        <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" class="custom-file-container__custom-file__custom-file-input text-center">
                                        <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                                        <span class="custom-file-container__custom-file__custom-file-control text-center"></span>
                                    </label>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-dark align-content-center">Add Attachment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card-bottom-section">
                        <h5>Current Attatchments</h5>

                        <div class="img-group">
                            @foreach (TicketAttachment attachment in Model.Attachments)
                            {
                                <img class="rounded bs-tooltip" title="@attachment.Description Created:@attachment.Created.ToString("MM-dd-yy  hh:mm tt")" src="@fileService.GetFileIcon(attachment.FileName)" alt="avatar">
                            }
                        </div>
                        <button type="button" class="btn btn-success mb-2 mr-2" data-toggle="modal" data-target="#sliderModal">
                            View Details
                        </button>
                        @foreach (TicketAttachment attachment in Model.Attachments)
                        {
                            <div class="modal fade" id="sliderModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" id="basicModalLabel" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body p-0">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span>
                                            </button>
                                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-100" src="@fileService.GetFileIcon(attachment.FileName) " alt="Upload">
                                                    </div>
                                                    @*<div class="carousel-item">
                                                            <img class="d-block w-100" src="assets/img/600x300.jpg" alt="Second slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="assets/img/600x300.jpg" alt="Third slide">
                                                        </div>*@
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                    <span class="flaticon-left-arrow-1 carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="carousel-control-prev-text"> Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                    <span class="carousel-control-next-text"> Next</span>
                                                    <span class="flaticon-right-arrow-1 carousel-control-next-icon" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">

            <div class="widget widget-activity-four">

                <div class="widget-heading">
                    <h5 class="">Recent Activities</h5>
                    <div class="w-icon">
                        @*<a class="btn btn-primary rounded bs-tooltip" title="More Options" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>*@
                    </div>

                    <div class="widget-content">

                        <div class="mt-container-ra mx-auto">
                            <div class="timeline-line">
                                @foreach (TicketHistory history in Model.History)
                                {
                                    <div class="item-timeline timeline-primary">
                                        <div class="t-dot" data-original-title="" title="">
                                        </div>
                                        <div class="t-text">
                                            <p>@history.Description</p>
                                            <span class="badge">@history.Created.ToString("MM/dd/yy hh:mm tt")</span>
                                            <p class="t-time">@history.User.FullName</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="tm-action-btn">
                            <button class="btn"><span>View All</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-table-one">
                    <div class="widget-heading">
                        <h5 class="text-center">Comments</h5>
                        <div class="task-action">
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" id="pendingTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right rounded bs-tooltip" title="More Options" aria-labelledby="pendingTask" style="will-change: transform;">
                                    <a class="dropdown-item" href="javascript:void(0);">View Report</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Edit Report</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Mark as Done</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-content">
                        <div class="transactions-list">
                            @foreach (TicketComment comment in Model.Comments)
                            {
                                <div class="t-item">
                                    <div class="t-company-name">
                                        <div class="t-icon">
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                            </div>
                                        </div>
                                        <div class="t-name">
                                            <h4>@comment.User.FullName</h4>
                                            <p class="meta-date">@comment.Comment</p>
                                        </div>
                                    </div>
                                    <div class="t-rate rate-dec">
                                        @*<p><span></span></p>*@
                                        <p>@comment.Created.ToString("MM-dd-yy")</p>

                                        @*<p>@comment.Created.ToString("hh:mm tt")</p>*@
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-table-two">

                    <div class="widget-heading">
                        <h5 class="text-center">All Tickets For This Project</h5>
                    </div>

                    <div class="widget-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><div class="th-content">Title</div></th>
                                        <th><div class="th-content">Priority</div></th>
                                        <th><div class="th-content th-heading">Type</div></th>
                                        <th><div class="th-content">Status</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Ticket ticket in await ticketService.GetAllTicketsByCompanyAsync(companyId))
                                    {
                                        @if (projectId == ticket.ProjectId)
                                        {
                                            <tr>
                                                <td class="border-right border-width-10px " style="width:40%"><a class="rounded bs-tooltip" title="View this ticket" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><div class="td-content customer-name"><span>@ticket.Title</span></div></a></td>

                                                <td><div class="td-content product-brand text-primary">@ticket.TicketPriority.Name</div></td>
                                                <td><div class="td-content pricing"><span class="">@ticket.TicketType.Name</span></div></td>
                                                <td><div class="td-content"><span class="badge badge-success">@ticket.TicketStatus.Name</span></div></td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    BEGIN GLOBAL MANDATORY SCRIPTS
    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/app.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="~/assets/js/custom.js"></script>
    //BEGIN PAGE LEVEL PLUGINS/ CUSTOM SCRIPTS
    <script src="~/plugins/apex/apexcharts.min.js"></script>
    <script src="~/assets/js/widgets/modules-widgets.js"></script>

}
    //END GLOBAL MANDATORY SCRIPTS