@model TitanTracker.Models.Ticket

@using Microsoft.AspNetCore.Identity
@using TitanTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject TitanTracker.Services.Interfaces.IBTCompanyInfoService companyInfoService
@inject TitanTracker.Services.Interfaces.IBTFileService  fileService
@inject TitanTracker.Services.Interfaces.IBTNotificationService notificationService
@inject TitanTracker.Services.Interfaces.IBTProjectService projectservice
@inject TitanTracker.Services.Interfaces.IBTRolesService rolesService
@inject TitanTracker.Services.Interfaces.IBTTicketHistoryService ticketHistoryService
@inject TitanTracker.Services.Interfaces.IBTTicketService ticketService

@{
    ViewData["Title"] = "Details";
}

<div class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-five">

                <div class="widget-heading">

                    <a href="javascript:void(0)" class="task-info">

                        <div class="usr-avatar">
                            <span>FD</span>
                        </div>

                        <div class="w-title">

                            <h5>@Model.Project.Name</h5>
                        </div>
                    </a>

                    <div class="task-action">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="pendingTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pendingTask" style="will-change: transform;">
                                <a class="dropdown-item" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId">View Project</a>
                                <a class="dropdown-item" asp-action="Edit" asp-controller="Projects" asp-route-id="@Model.ProjectId">Edit Project</a>
                                @*<a class="dropdown-item" href="javascript:void(0);">Mark as Done</a>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-content">

                    <p>@Model.Project.Description</p>

                    <div class="progress-data">

                        <div class="progress-info">
                            <div class="progress-stats"><p>86.2%</p></div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="meta-info">

                        @*<div class="avatar--group">

                                <div class="avatar translateY-axis more-group">
                                    <span class="avatar-title">+6</span>
                                </div>
                                <div class="avatar translateY-axis">
                                    <img alt="avatar" src="assets/img/90x90.jpg" />
                                </div>
                                <div class="avatar translateY-axis">
                                    <img alt="avatar" src="assets/img/90x90.jpg" />
                                </div>
                                <div class="avatar translateY-axis">
                                    <img alt="avatar" src="assets/img/90x90.jpg" />
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div>
            <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Id" name="TicketId">

                <div class="media-body ml-3">
                    <label class="form-label d-block mb-2">Add Attachment</label>
                    <label>
                        Description
                        <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                    </label><br />
                    <label class="btn btn-outline-primary btn-sm">
                        <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
                    </label>
                    <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                </div>
            </form>
        </div>
        <div class="row clearfix">
            @foreach (TicketAttachment item in Model.Attachments)
            {
                <div class="col-sm-2">
                    <div class="card">
                        <div class="file">
                            <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">

                                <div class="hover">
                                    <button type="button" class="btn btn-icon btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <div class="icon">
                                    <img src="@fileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                                </div>
                                <div class="file-name">
                                    <p>@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</p>
                                    <small>Size: @fileService.FormatFileSize(item.FileData.Length) <span class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</span></small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>}
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-activity-five">

                <div class="widget-heading">
                    <h5 class="">Activity Log</h5>

                    <!--<div class="task-action">-->
                    @*<div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="pendingTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pendingTask" style="will-change: transform;">
                                <a class="dropdown-item" href="javascript:void(0);">View All</a>
                                <a class="dropdown-item" href="javascript:void(0);">Mark as Read</a>
                            </div>
                        </div>*@
                    @*</div>*@
                </div>

                <div class="widget-content">

                    <div class="w-shadow-top"></div>

                    <div class="mt-container mx-auto">
                        <div class="timeline-line">
                            @foreach (TicketHistory history in Model.History)
                            {
                                <div class="item-timeline timeline-new">
                                    <div class="t-dot ">
                                        <div class="t-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></div>
                                    </div>
                                    <div class="t-content ">
                                        <div class="t-uppercontent">
                                            <h6>@history.Property Updated <a href="javscript:void(0);"><span>@history.User.FullName</span></a></h6>
                                        </div>
                                        <p>@history.Created.ToString("MMM-dd-yyyy")</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="w-shadow-bottom"></div>
                </div>
            </div>
        </div>

        <div class="input-group mb-4">
            <form asp-action="Create" asp-controller="TicketComments" method="post">
                <input hidden name="TicketId" id="TicketId" value="@Model.Id" />
                @*<div class="input-group-prepend">*@
                <!--<span class="input-group-text">With textarea</span>
                </div>-->
                <textarea class="form-control" name="Comment" placeholder="*Add Comment" aria-label="With textarea"></textarea>
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-one">
                <div class="widget-heading">
                    <h5 class="">Comments</h5>
                    <div class="task-action">
                        <div class="dropdown">
                            @*<a class="dropdown-toggle" href="#" role="button" id="pendingTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                </a>*@

                            @*<div class="dropdown-menu dropdown-menu-right" aria-labelledby="pendingTask" style="will-change: transform;">
                                    <a class="dropdown-item" href="javascript:void(0);">View Report</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Edit Report</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Mark as Done</a>
                                </div>*@
                        </div>
                    </div>
                </div>

                <div class="widget-content">
                    @foreach (TicketComment comment in Model.Comments)
                    {
                        <div class="transactions-list">
                            <div class="t-item">
                                <div class="t-company-name">
                                    <div class="t-icon">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                        </div>
                                    </div>
                                    <div class="t-name">
                                        <h4>@comment.User.FullName</h4>
                                        <p class="meta-date">@comment.Comment</p>
                                    </div>
                                </div>
                                <div class="t-rate rate-dec">
                                    <p><span>@comment.Created.ToString("MMM-dd-yyyy")</span></p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--  END CONTENT PART  -->

@section Scripts
            {
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
}