@model IEnumerable<TitanTracker.Models.Project>
@using TitanTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using TitanTracker.Extensions
@using TitanTracker.Models.Enums


@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService
@inject IBTTicketHistoryService TicketHistoryService
@inject IBTNotificationService NotificationService
@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRolesService RolesService


@{
    ViewData["Title"] = "Index";
    BTUser user = await UserManager.GetUserAsync(User);
    int companyId = User.Identity.GetCompanyId().Value;
   List<IdentityRole>  role = await RolesService.GetRolesAsync();
}
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
<link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->


<div class="row layout-top-spacing">
   
    <div class="col-lg-12 col-md-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                        <h4 class="text-center">My Projects</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table class="table table-bordered mb-4">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th class="text-center">Priority</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead> 
                        <tbody>
                            @if ((await ProjectService.GetUserProjectsAsync(user.Id)).Count() == 0)
                            {
                            <tr>
                                <td class="text-center" colspan="5">No Projects Found.</td>
                            </tr>
                            
                            }else{

                            @foreach (Project project in await ProjectService.GetUserProjectsAsync(user.Id))
                                        {
                                            <tr>
                                                <td><span class="badge badge-Danger-Light">@project.Name</span></td>
                                                <td><span class="badge badge-dark">@project.Description</span></td>
                                                <td><span class="badge badge-warning">@project.StartDate.ToString("MM-dd-yyyy")</span></td>
                                                <td class="text-center"><span class="badge badge-success">@project.ProjectPriority</span></td>
                                                <td class="text-center">

                                                    <div class="dropdown custom-dropdown">
                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                        </a>
                                                        @if (User.IsInRole("Admin"))
                                                        {
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                                <a class="dropdown-item" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">View Project Details</a>
                                                                <a class="dropdown-item" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@project.Id">Assign Members</a>
                                                                <a class="dropdown-item" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">Edit</a>
                                                                <a class="dropdown-item" asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id">Archive This Project</a>
                                                            </div>

                                                        }@if (User.IsInRole("ProjectManager"))
                                                        {
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                                <a class="dropdown-item" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">View Project Details</a>
                                                                <a class="dropdown-item" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@project.Id">Assign Members</a>
                                                            </div>
                                                        }@if (User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                                        {
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                                <a class="dropdown-item" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">View Project Details</a>
                                                            </div>
                                                        }
                                                    </div>

                                                </td>
                                            </tr>
                                        }
                            }

</table>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/assets/js/scrollspyNav.js"></script>
    <script src="~/plugins/apex/apexcharts.min.js"></script>
    <script src="~/plugins/apex/custom-apexcharts.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    @*<----------------Js for Project Chart--------------------->*@

    <script>
        var sLineArea = {
            chart: {
                height: 500,
                type: 'area',
                toolbar: {
                    show: false,
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            series: [{
                name: 'Projects Assigned',
                data: [31, 40, 28, 51, 42, 109, 100]
            }, {
                name: 'Projects Completed',
                data: [11, 32, 45, 32, 34, 52, 41]
            }],

            xaxis: {
                type: 'datetime',
                categories: ["2018-09-19T00:00:00", "2018-09-19T01:30:00", "2018-09-19T02:30:00", "2018-09-19T03:30:00", "2018-09-19T04:30:00", "2018-09-19T05:30:00", "2018-09-19T06:30:00"],
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            }
        }

        var chart = new ApexCharts(
            document.querySelector("#s-line-area"),
            sLineArea
        );

        chart.render();
    </script>
}
